<nav class="navbar navbar-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">ИППО</a>

      <!-- Show this for logged out users -->
      <ul *appShowAuthed="false"
        class="nav navbar-nav pull-xs-right">

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/">
            Home
          </a>
        </li>

        <li *ngIf="!isSubmitting" class="nav-item">
          <a class="nav-link"
            routerLink="/login"
            routerLinkActive="active">
            Sign in
          </a>
        </li>
      </ul>

      <!-- Show this for logged in users -->
    <ul *appShowAuthed="true"
    class="nav navbar-nav pull-xs-right">

    <li class="nav-item">
      <a class="nav-link"
        routerLink="/profile"
        routerLinkActive="active">
        {{ currentUser.username }}
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link"
        routerLink="/logout"
        routerLinkActive="active">
        logout
      </a>
    </li>

  </ul>

</div>
</nav>
