[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-extensions = "*"
pyjwt = "*"
pipfile = "*"
django-rest-auth = "*"
djangorestframework-jwt = "*"
gunicorn = "*"
coverage = "*"
django-rest-swagger = "*"
coreapi = "*"

[dev-packages]
werkzeug = "*"

[requires]
python_version = "3.7"
