body {
    background-size: 100%;
    background: black url(./img/back_3.jpg);
}

.header {
    background: url(./img/back_4.jpg);
    margin-top: 0px
}

.info {
    background-color: gold;
    margin-top: 0px;
}

.form {
    padding-top: 10%;
    background-size: 100%;
    margin-top: 0px;
}

.logo {
    max-width: 40%;
}

.user_icon {
    padding-left: 0px;
    width: 100px;
}

.form__lable {
    text-align: right;
}
