
  
  <div class = "container">

    <div class="row">
      <div class="col-sm">

      </div>
      <div class="col-lg" style="align-items: center" >
        <div class = "card-body" style="height: 250px; width: 300px; ">
          <label >Логин</label>
          <input type="email" class="form-control" placeholder="Шифр Студенческого">
          <label>Пароль</label>
          <input type="password" class="form-control"  placeholder="Шифр Студенческого">
          <button type="submit" class="btn btn-dark" id = "log_btn">Вход</button>
        </div>
      </div>
      <div class="col-sm" style="height: 10px;">

      </div>
    </div>


